<!DOCTYPE html>
	<html>
		<head>
			<meta name="author" content="Raphael Stuhlmeier">
    <meta name="keywords" content="Raphael Stuhlmeier, mathematics, fluid dynamics, waves, surface water waves, ocean waves">

			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
<li><a href="/">Home</a></li>
	
				<li><a href="/conferences/workshop2024.html">Water Waves Workshop 2024</a></li>

	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:raphael.stuhlmeier@plymouth.ac.uk">email</a></li>
				<li><a href="http://www.plymouth.ac.uk/">Plymouth University Home</a></li>
				</ul>
			</footer>
		</body>
</html>
