<!DOCTYPE html>
	<html>
		<head>
			<meta name="author" content="Raphael Stuhlmeier">
    <meta name="keywords" content="Raphael Stuhlmeier, mathematics, fluid dynamics, waves, surface water waves, ocean waves">

			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>


	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:raphael.stuhlmeier@plymouth.ac.uk">email</a></li>
				<li><a href="http://lms.ac.uk/">London Mathematical Society</a></li>
				<li><a href="http://math-sciences.org/">Plymouth Centre for Mathematical Sciences</a></li>
				</ul>
			</footer>
		</body>
</html>
