<!DOCTYPE html>
	<html>
		<head>
			<meta name="author" content="Raphael Stuhlmeier">
    <meta name="keywords" content="Raphael Stuhlmeier, mathematics, fluid dynamics, waves, surface water waves, ocean waves">

			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/publications">Publications</a></li>
				<li><a href="/conferences">Conferences</a></li>
				<li><a href="/teaching">Teaching</a></li>
				<li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:raphaels@technion.ac.il">email</a></li>
				<li><a href="https://scholar.google.com/citations?user=ex5ct_cAAAAJ">Google Scholar</a><li>
				<li><a href="https://www.researchgate.net/profile/Raphael_Stuhlmeier">ResearchGate</a><li>
				</ul>
			</footer>
		</body>
	</html>
