<!DOCTYPE html>
	<html>
		<head>
			<meta name="author" content="Raphael Stuhlmeier">
    <meta name="keywords" content="Raphael Stuhlmeier, mathematics, fluid dynamics, waves, surface water waves, ocean waves">

			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<!-- <li><a href="/cv">CV</a></li> -->
	        		<li><a href="/publications">Publications</a></li>
				<li><a href="/conferences">Conferences</a></li>
				<li><a href="/teaching">Teaching</a></li>
				<li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:raphael.stuhlmeier@plymouth.ac.uk">email</a></li>
				<li><a href="https://scholar.google.com/citations?user=ex5ct_cAAAAJ">Google Scholar</a></li>
				<li><a href="https://www.researchgate.net/profile/Raphael_Stuhlmeier">ResearchGate</a></li>
				<li><a href="https://orcid.org/0000-0002-6568-1543" target="orcid.widget" rel="noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">orcid.org/0000-0002-6568-1543</a></li>
				<li><a style="display:inline-block;background-color:#FC5200;color:#fff;padding:5px 10px 5px 30px;font-size:11px;font-family:Helvetica, Arial, sans-serif;white-space:nowrap;text-decoration:none;background-repeat:no-repeat;background-position:10px center;border-radius:3px;background-image:url('http://badges.strava.com/logo-strava-echelon.png')" href='http://strava.com/athletes/9986275/badge' target="_clean">
  Follow me on
  <img src='http://badges.strava.com/logo-strava.png' alt='Strava' style='margin-left:2px;vertical-align:text-bottom' height=13 width=51 />
</a></li>
				</ul>
			</footer>
		</body>
	</html>
